<html>
  <head>
    <title></title>
  </head>
  <body>
    <table
      width="100%"
      cellspacing="0"
      cellpadding="0"
      style="
        border-collapse: collapse;
        border-spacing: 0px;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        background-repeat: repeat;
        background-position: center top;
      "
    >
      <tbody>
        <tr style="border-collapse: collapse">
          <td valign="top" style="padding: 0; margin: 0">
            <table
              class="m_-8969279601919511401es-content"
              cellspacing="0"
              cellpadding="0"
              align="center"
              style="
                border-collapse: collapse;
                border-spacing: 0px;
                table-layout: fixed !important;
                width: 100%;
              "
            >
              <tbody>
                <tr style="border-collapse: collapse">
                  <td align="center" style="padding: 0; margin: 0">
                    <table
                      cellspacing="0"
                      cellpadding="0"
                      bgcolor="#ffffff"
                      align="center"
                      style="
                        border-collapse: collapse;
                        border-spacing: 0px;
                        background-color: #ffffff;
                      "
                    >
                      <tbody>
                        <tr style="border-collapse: collapse">
                          <td align="left" style="padding: 0; margin: 0">
                            <table
                              cellpadding="0"
                              cellspacing="0"
                              width="100%"
                              style="
                                border-collapse: collapse;
                                border-spacing: 0px;
                              "
                            >
                              <tbody>
                                <tr style="border-collapse: collapse">
                                  <td
                                    align="center"
                                    valign="top"
                                    style="padding: 0; margin: 0"
                                  >
                                    <table
                                      cellpadding="0"
                                      cellspacing="0"
                                      width="100%"
                                      role="presentation"
                                      style="
                                        border-collapse: collapse;
                                        border-spacing: 0px;
                                      "
                                    >
                                      <tbody>
                                        <tr style="border-collapse: collapse">
                                          <td style="padding: 0; margin: 0">
                                            <div
                                              style="
                                                height: 5px;
                                                background: #de3618;
                                              "
                                            >
                                              &nbsp;
                                            </div>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>

                        <tr style="border-collapse: collapse">
                          <td
                            align="left"
                            class="m_-8969279601919511401mail-section--intro"
                            style="
                              padding: 0;
                              margin: 0;
                              padding-top: 40px;
                              padding-left: 40px;
                              padding-right: 40px;
                            "
                          >
                            <table
                              cellpadding="0"
                              cellspacing="0"
                              width="100%"
                              style="
                                border-collapse: collapse;
                                border-spacing: 0px;
                              "
                            >
                              <tbody>
                                <tr style="border-collapse: collapse">
                                  <td
                                    width="720"
                                    align="center"
                                    valign="top"
                                    style="padding: 0; margin: 0"
                                  >
                                    <table
                                      cellpadding="0"
                                      cellspacing="0"
                                      width="100%"
                                      role="presentation"
                                      style="
                                        border-collapse: collapse;
                                        border-spacing: 0px;
                                      "
                                    >
                                      <tbody>
                                        <tr style="border-collapse: collapse">
                                          <td
                                            align="left"
                                            style="
                                              padding: 0;
                                              margin: 0;
                                              padding-top: 20px;
                                            "
                                          >
                                            <h3
                                              style="
                                                margin: 0;
                                                line-height: 30px;
                                                font-family: 'inter',
                                                  'helvetica neue', helvetica,
                                                  arial, sans-serif;
                                                font-size: 20px;
                                                font-style: normal;
                                                font-weight: normal;
                                                color: #222b35;
                                              "
                                            >
                                              <span
                                                style="
                                                  display: inline-block;
                                                  margin-right: 6px;
                                                  width: 16px;
                                                  height: 16px;
                                                  background: #de3618;
                                                  border-radius: 16px;
                                                "
                                              ></span>

                                              <strong>Attention needed!</strong>
                                            </h3>
                                          </td>
                                        </tr>

                                        <tr style="border-collapse: collapse">
                                          <td
                                            align="left"
                                            style="
                                              padding: 0;
                                              margin: 0;
                                              padding-top: 30px;
                                            "
                                          >
                                            <p
                                              style="
                                                margin: 0;
                                                font-size: 16px;
                                                font-family: 'inter',
                                                  'helvetica neue', helvetica,
                                                  arial, sans-serif;
                                                line-height: 24px;
                                                color: #424761;
                                              "
                                            >
                                              Hello {{recipientName}},

                                              <br />

                                              <br />

                                              Please acknowledge the incident.

                                              <br />
                                            </p>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>

                        <tr style="border-collapse: collapse">
                          <td
                            align="left"
                            class="m_-8969279601919511401mail-section--action-buttons"
                            style="
                              margin: 0;
                              padding-top: 30px;
                              padding-left: 40px;
                              padding-right: 40px;
                            "
                          >
                            <table
                              cellpadding="0"
                              cellspacing="0"
                              width="100%"
                              style="
                                border-collapse: collapse;
                                border-spacing: 0px;
                              "
                            >
                              <tbody>
                                <tr style="border-collapse: collapse">
                                  <td
                                    width="720"
                                    align="center"
                                    valign="top"
                                    style="padding: 0; margin: 0"
                                  >
                                    <table
                                      cellpadding="0"
                                      cellspacing="0"
                                      width="100%"
                                      role="presentation"
                                      style="
                                        border-collapse: collapse;
                                        border-spacing: 0px;
                                      "
                                    >
                                      <tbody>
                                        <tr style="border-collapse: collapse">
                                          <td
                                            align="left"
                                            style="
                                              padding: 0;
                                              margin: 0;
                                              padding-top: 10px;
                                              padding-bottom: 10px;
                                              padding-right: 10px;
                                            "
                                          >
                                            <span
                                              class="m_-8969279601919511401es-button-border"
                                              style="
                                                border-style: solid;
                                                border-color: #5f59f7;
                                                background: #5f59f7;
                                                border-width: 1px;
                                                display: inline-block;
                                                border-radius: 4px;
                                                width: auto;
                                                margin-bottom: 15px;
                                              "
                                            >
                                              <a
                                                href="https://uptime-monitor.cyclic.app/{{monitorID}}"
                                                class="m_-8969279601919511401es-button"
                                                style="
                                                  text-decoration: none;
                                                  font-family: 'inter',
                                                    'helvetica neue', helvetica,
                                                    arial, sans-serif;
                                                  font-size: 16px;
                                                  color: #ffffff;
                                                  border-style: solid;
                                                  border-color: #5f59f7;
                                                  border-width: 15px 35px 15px
                                                    35px;
                                                  display: inline-block;
                                                  background: #5f59f7;
                                                  border-radius: 4px;
                                                  font-weight: 600;
                                                  font-style: normal;
                                                  line-height: 19px;
                                                  width: auto;
                                                  text-align: center;
                                                "
                                                target="_blank"
                                              >
                                                Take Action
                                              </a>
                                            </span>

                                            <span
                                              class="m_-8969279601919511401es-button-border"
                                              style="
                                                border-style: solid;
                                                border-color: #bfc2d4;
                                                background: #fff;
                                                border-width: 1px;
                                                display: inline-block;
                                                border-radius: 4px;
                                                width: auto;
                                                margin-bottom: 15px;
                                              "
                                            >
                                              <a
                                                href="https://betteruptime.com/ahoy/messages/jEQzAsAxctLzIYCA1xsH9FVEJzHTvWML/click?signature=39975c1bc291a74f0d1c60b3eb207460916501e5&amp;url=https%3A%2F%2Fbetteruptime.com%2Fusers%2Flink%2FY2hhdGh1cmFwZXJlcmEwMDdAZ21haWwuY29tMTY2ODQxNjA3OA%3D%3D601b7594eb%3Fredirect_to%3Dhttps%253A%252F%252Fbetteruptime.com%252Fteam%252F55479%252Fincidents%252F300444585%26utm_source%3Descalation_mailer%26utm_medium%3Demail%26utm_campaign%3Dstarted"
                                                class="m_-8969279601919511401es-button"
                                                style="
                                                  text-decoration: none;
                                                  font-family: 'inter',
                                                    'helvetica neue', helvetica,
                                                    arial, sans-serif;
                                                  font-size: 16px;
                                                  color: #222b35;
                                                  border-style: solid;
                                                  border-color: #fff;
                                                  border-width: 15px 35px 15px
                                                    35px;
                                                  display: inline-block;
                                                  background: #fff;
                                                  border-radius: 4px;
                                                  font-weight: 600;
                                                  font-style: normal;
                                                  line-height: 19px;
                                                  width: auto;
                                                  text-align: center;
                                                "
                                                target="_blank"
                                                data-saferedirecturl="https://www.google.com/url?q=https://betteruptime.com/ahoy/messages/jEQzAsAxctLzIYCA1xsH9FVEJzHTvWML/click?signature%3D39975c1bc291a74f0d1c60b3eb207460916501e5%26url%3Dhttps%253A%252F%252Fbetteruptime.com%252Fusers%252Flink%252FY2hhdGh1cmFwZXJlcmEwMDdAZ21haWwuY29tMTY2ODQxNjA3OA%253D%253D601b7594eb%253Fredirect_to%253Dhttps%25253A%25252F%25252Fbetteruptime.com%25252Fteam%25252F55479%25252Fincidents%25252F300444585%2526utm_source%253Descalation_mailer%2526utm_medium%253Demail%2526utm_campaign%253Dstarted&amp;source=gmail&amp;ust=1668502621873000&amp;usg=AOvVaw3r7c9DdHpz86eh97f7dCEX"
                                              >
                                                View incident
                                              </a>
                                            </span>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>

                        <tr style="border-collapse: collapse">
                          <td style="padding-top: 30px">
                            <table
                              cellpadding="0"
                              cellspacing="0"
                              width="100%"
                              style="
                                border-collapse: collapse;
                                border-spacing: 0px;
                              "
                            >
                              <tbody>
                                <tr style="border-collapse: collapse">
                                  <td
                                    width="720"
                                    align="center"
                                    valign="top"
                                    style="padding: 0; margin: 0"
                                  ></td>
                                </tr>

                                <tr style="border-collapse: collapse">
                                  <td
                                    align="left"
                                    style="
                                      padding: 0;
                                      margin: 0;
                                      padding-top: 0px;
                                      padding-left: 40px;
                                      padding-right: 40px;
                                      padding-bottom: 30px;
                                      background-color: #f7f8fa;
                                      border-top: 5px solid #f1f2f7;
                                    "
                                  >
                                    <table
                                      cellpadding="0"
                                      cellspacing="0"
                                      width="100%"
                                      style="
                                        border-collapse: collapse;
                                        border-spacing: 0px;
                                      "
                                    >
                                      <tbody>
                                        <tr style="border-collapse: collapse">
                                          <td
                                            width="720"
                                            align="center"
                                            valign="top"
                                            style="padding: 0; margin: 0"
                                          >
                                            <table
                                              cellpadding="0"
                                              cellspacing="0"
                                              width="100%"
                                              role="presentation"
                                              style="
                                                border-collapse: collapse;
                                                border-spacing: 0px;
                                              "
                                            >
                                              <tbody>
                                                <tr
                                                  style="
                                                    border-collapse: collapse;
                                                  "
                                                >
                                                  <td
                                                    align="left"
                                                    style="
                                                      padding: 0;
                                                      margin: 0;
                                                      padding-top: 30px;
                                                    "
                                                  >
                                                    <p
                                                      style="
                                                        margin: 0;
                                                        font-size: 16px;
                                                        font-family: 'inter',
                                                          'helvetica neue',
                                                          helvetica, arial,
                                                          sans-serif;
                                                        line-height: 30px;
                                                        color: #424761;
                                                      "
                                                    >
                                                      <strong
                                                        class="m_-8969279601919511401incident-info-key"
                                                        >Monitor:</strong
                                                      >

                                                      <span
                                                        class="m_-8969279601919511401incident-info-value"
                                                        ><a
                                                          href="{{monitorURL}}"
                                                          target="_blank"
                                                          data-saferedirecturl="https://www.google.com/url?q=http://fylo--landingpage.vercel.app&amp;source=gmail&amp;ust=1668502621873000&amp;usg=AOvVaw2kQXI-WGvrfjjcDrRQDLRK"
                                                          >{{monitorURL}}</a
                                                        ></span
                                                      >

                                                      <br />

                                                      <strong
                                                        class="m_-8969279601919511401incident-info-key"
                                                        >Checked URL:</strong
                                                      >

                                                      <span
                                                        class="m_-8969279601919511401incident-info-value"
                                                        ><code
                                                          >GET
                                                          <a
                                                            href="https://uptime-monitor.cyclic.app/"
                                                            target="_blank"
                                                            ><u
                                                              >{{monitorURL}}.<wbr /></u></a></code
                                                      ></span>

                                                      <br />

                                                      <strong
                                                        class="m_-8969279601919511401incident-info-key"
                                                        >Cause:</strong
                                                      >

                                                      <span
                                                        class="m_-8969279601919511401incident-info-value"
                                                        >Status
                                                        {{statusCode}}</span
                                                      >

                                                      <br />

                                                      <strong
                                                        class="m_-8969279601919511401incident-info-key"
                                                        >Created at:</strong
                                                      >

                                                      <span
                                                        class="m_-8969279601919511401incident-info-value"
                                                        ><span
                                                          style="
                                                            white-space: nowrap;
                                                          "
                                                          >{{createdAt}}</span
                                                        ></span
                                                      >

                                                      <br />
                                                    </p>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <div
      data-role="module-unsubscribe"
      class="module"
      role="module"
      data-type="unsubscribe"
      style="
        color: #444444;
        font-size: 12px;
        line-height: 20px;
        padding: 16px 16px 16px 16px;
        text-align: Center;
      "
      data-muid="4e838cf3-9892-4a6d-94d6-170e474d21e5"
    >
      <div class="Unsubscribe--addressLine">
        <p
          class="Unsubscribe--senderName"
          style="font-size: 12px; line-height: 20px"
        >
          {{Sender_Name}}
        </p>
        <p style="font-size: 12px; line-height: 20px">
          <span class="Unsubscribe--senderAddress">{{Sender_Address}}</span>,
          <span class="Unsubscribe--senderCity">{{Sender_City}}</span>,
          <span class="Unsubscribe--senderState">{{Sender_State}}</span>
          <span class="Unsubscribe--senderZip">{{Sender_Zip}}</span>
        </p>
      </div>
      <p style="font-size: 12px; line-height: 20px">
        <a
          class="Unsubscribe--unsubscribeLink"
          href="{{{unsubscribe}}}"
          target="_blank"
          style="font-family: sans-serif; text-decoration: none"
        >
          Unsubscribe
        </a>
        -
        <a
          href="{{{unsubscribe_preferences}}}"
          target="_blank"
          class="Unsubscribe--unsubscribePreferences"
          style="font-family: sans-serif; text-decoration: none"
        >
          Unsubscribe Preferences
        </a>
      </p>
    </div>
  </body>
</html>
